<div class="newWrap">
  <div class="newTitle">
    <h1>下記内容で送信します。よろしいですか？</h1>
  </div>
  <div class="confirm-contents">
    <%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
    <div class="confirm-items">
      <div class="col-sm-4">名前</div>
      <div class="col-sm-8"><%= f.hidden_field :name %><%= @inquiry.name %></div>
      <div class="col-sm-4">メールアドレス</div>
      <div class="col-sm-8"><%= f.hidden_field :email %><%= @inquiry.email %></div>
      <div class="col-sm-4">お問い合わせ内容</div>
      <div class="col-sm-8"><%= f.hidden_field :message %><%= simple_format(@inquiry.message) %></div>
    </div>
    <div class="button_wrapper">
      <%= f.submit "送信する", class: "btn btn-block btn-success" %>
    </div>
    <% end %>
  </div>
</div>