<% @page_title = "お問い合わせ" %>
<div class="newWrap">
  <div class="newTitle">
    <h1>お問い合わせ</h1>
  </div>
  <div class="newContent">
    <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
      <% if @inquiry.errors.any? %>
        <div class="alert-danger" role="alert">
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="inquiry-form">
        <div class="form-text">名前<span class="text-danger">（必須）</span></div>
        <%= f.text_field :name, class: "inquiry-input-information" %>
        <div class="form-text">メールアドレス<span class="text-danger">（必須）</span></div>
        <%= f.text_field :email, class: "inquiry-input-information" %>
        <div class="form-text">お問い合わせ内容</div>
        <%= f.text_area :message, size: "50x10", class: "inquiry-contents" %>
      </div>
      <div class="button_wrapper">
        <%= f.submit "確認", class: "btn btn-block btn-success" %>
      </div>

    <% end %>
  </div>
</div>