
<div class="container">
  <div class="col-left1">
    <p><%= @location.name %></p>
  </div>

  <div class="col-left2">
    <p><%= image_tag(@location.photo.url) %></p>
  </div>

  <div class="col-right1">
    <h2>住所</h2>
    <div class="address-text">
      <p><%= @location.prefecture %><%= @location.municipalities %><%= @location.address %></p>
    </div>
  </div>

  <div class="col-right2">
    <h2>説明文</h2>
    <div class="description-text">
      <p><%= @location.photo_description %></p>
    </div>
  </div>

  <div class="col-right3">
    
  </div>
</div>

<hr>