
<% @locations.each do |location| %>
  <p>
    <%= location.name %><br>
    <%= image_tag location.photo.url, width: "80%", height: "80%" %>
  </p>
<% end %>
<hr>

<div class="form">

  <%= form_for :location, url: "locations/create" do |f| %>
    <p><%= f.label "タイトル" %><br><%= f.text_field :name %></p>
    <p><%= f.label "県" %><br><%= f.text_field :prefecture %></p>
    <p><%= f.label "市町村" %><br><%= f.text_field :municipalities %></p>
    <p><%= f.label "番地丁目" %><br><%= f.text_field :address %></p>


    <p><%= f.label :photo, "画像をアップロード", class: "id_image" %>
    
    <span><%= f.file_field :photo %></span></p>
    
    
    <p><%= f.label "説明文" %><br> <%= f.text_area :photo_description %></p>
    <p><%= f.submit value: "投稿", :class => "submit-button" %></p>
  <% end %>
</div>