<!DOCTYPE html>
<html>
  <head>
    <div id="title">
      <h1>インスタ映えるん</h1>
    </div>


    <header>
      <div id="header_menu">
        <ul>
          <li> <%= link_to "Home", "/home", class: "nav-link" %> </li>
          <li> <%= link_to "ログイン", "/login", class: "nav-link" %> </li>
          <li> <%= link_to "登録", "/registration", class: "nav-link" %> </li>
          <li> <%= link_to "アカウント", "/account", class: "nav-link" %> </li>
          <li> <%= link_to "お問い合わせ", "/inquiry", class: "nav-link" %> </li>
        </ul>
    </div>
    </header>

    <title>Insta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div id="box">
      <div id="images">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
